.anna-cell-container-main {
  width: 100%;
}

.anna-cell-container {
  flex-direction: column;
}
.anna-card-cover {
  padding-left: 10rpx;
  padding-right: 10rpx;
}

.anna-card-title {
  font-size: 26px;
}

.anna-tag {
  height: 38rpx;
  line-height: 34rpx;
  padding: 0 10rpx;
  border-radius: 8rpx;
  font-size: 20rpx;
}

.anna-card-content {
  padding: 0 10rpx;
  flex: 1;
}
.anna-cell-container-main-left {
  flex: none;
}

.anna-card-content-head {
  padding: 0;
}

.anna-space-vertical {
  width: 100%;
}

.anna-form-value, .anna-form-value-placeholder {
  text-align: right;
}

.anna-cell-container-main-right-value .anna-input-container .anna-input {
  text-align: right;
}

.anna-search_bar-input-value {
  text-align: left;
}

.anna-btn-look-orange {
  color: #fdfffd;
  background-color: #fa8c16 !important;
  border-color: #fa8c16 !important;
}
.anna-result-icon-status .icon-loading {
  animation: loading 1s linear infinite;
}

.anna-picker .anna-form-value {
  text-align: right !important;
}
.anna-picker .anna-form-value, .anna-form-value-placeholder {
  text-align: right !important;
}

.anna-switch-checked-small + .anna-switch-checkbox {
  background-color: #fa8c16 !important;
}